/**
 * 
 * @authors wawow_haha@live.com
 * @date      2015/9/16 21:28
 */
/* line 7, ../scss/_reset.scss */
body, div, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, iframe, input, textarea, select, label, article, aside, footer, header, menu, nav, section, time, audio, video {
  margin: 0;
  padding: 0;
}

/* line 8, ../scss/_reset.scss */
article, aside, footer, header, hgroup, nav, section, audio, canvas, video, img {
  display: block;
}

/* line 9, ../scss/_reset.scss */
body {
  font-size: 100%;
  font-family: 'STXihei','Microsoft Yahei','Helvetica Neue','helvetica','arial';
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

/* line 10, ../scss/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* line 11, ../scss/_reset.scss */
textarea {
  resize: none;
}

/* line 12, ../scss/_reset.scss */
iframe, img {
  border: 0;
}

/* line 13, ../scss/_reset.scss */
ul, ol {
  list-style: none;
}

/* line 14, ../scss/_reset.scss */
input, select, textarea {
  outline: 0;
  -webkit-user-modify: read-write-plaintext-only;
}

/* line 15, ../scss/_reset.scss */
input {
  -webkit-appearance: none;
}

/* line 16, ../scss/_reset.scss */
a {
  text-decoration: none;
}

/* line 17, ../scss/_reset.scss */
i, em {
  font-style: normal;
}

/* line 18, ../scss/_reset.scss */
.dis {
  display: block;
}

/* line 19, ../scss/_reset.scss */
.undis {
  display: none;
}

/* line 20, ../scss/_reset.scss */
.fl {
  float: left;
}

/* line 21, ../scss/_reset.scss */
.fr {
  float: right;
}

/* line 23, ../scss/_reset.scss */
body {
  font-size: 14px;
  background: #eeeeee;
}

/* line 28, ../scss/_reset.scss */
.tc {
  text-align: center;
}

/* line 29, ../scss/_reset.scss */
.tl {
  text-align: left;
}

/* line 30, ../scss/_reset.scss */
.tr {
  text-align: right;
}

/* line 32, ../scss/_reset.scss */
.f12px {
  font-size: 12px;
}

/* line 35, ../scss/_reset.scss */
.f14px {
  font-size: 14px;
}

/* line 38, ../scss/_reset.scss */
.f16px {
  font-size: 16px;
}

/* line 42, ../scss/_reset.scss */
.mt10 {
  margin-top: 10px;
}

/* line 43, ../scss/_reset.scss */
.ml10 {
  margin-left: 10px;
}

/* line 44, ../scss/_reset.scss */
.mr10 {
  margin-right: 10px;
}

/* line 45, ../scss/_reset.scss */
.mb10 {
  margin-bottom: 10px;
}

/* line 47, ../scss/_reset.scss */
.mt-10 {
  margin-top: -10px;
}

/* line 48, ../scss/_reset.scss */
.ml-10 {
  margin-left: -10px;
}

/* line 49, ../scss/_reset.scss */
.mr-10 {
  margin-right: -10px;
}

/* line 50, ../scss/_reset.scss */
.mb-10 {
  margin-bottom: -10px;
}

/**
 * 
 * @authors wawow_haha@live.com
 * @date      2015/9/16 21:11
 */
/* line 9, ../scss/_header.scss */
.header {
  height: 45px;
  position: relative;
  z-index: 101;
  background: #fff;
}
/* line 14, ../scss/_header.scss */
.header .logo {
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 89px;
  height: 20px;
  background: url("../images/header/logo.png") no-repeat;
  background-size: 89px 20px;
  text-indent: -9999px;
  position: absolute;
  z-index: 0;
}
/* line 18, ../scss/_header.scss */
.header a.menu {
  width: 40px;
  height: 45px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/header/icon_menu.png) center no-repeat;
  background-size: 13px 10px;
  text-indent: -9999px;
}
/* line 28, ../scss/_header.scss */
.header a.search {
  width: 40px;
  height: 45px;
  position: absolute;
  right: 40px;
  top: 0;
  background: url(../images/header/icon_search.png) center no-repeat;
  background-size: 20px 20px;
  text-indent: -9999px;
}
/* line 38, ../scss/_header.scss */
.header a.buy {
  width: 40px;
  height: 45px;
  position: absolute;
  right: 0;
  top: 0;
  background: url(../images/header/icon_buy.png) center no-repeat;
  background-size: 20px 20px;
  text-indent: -9999px;
}
/* line 48, ../scss/_header.scss */
.header:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #cfcfcf;
  -moz-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
/* line 57, ../scss/_header.scss */
.header .search-cont {
  width: 100%;
  height: 45px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
/* line 65, ../scss/_header.scss */
.header .search-cont .l-logo {
  width: 89px;
  height: 20px;
  background: url("../images/header/logo.png") no-repeat;
  background-size: 89px 20px;
  text-indent: -9999px;
  position: absolute;
  z-index: 0;
  left: 10px;
  top: 50%;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
/* line 71, ../scss/_header.scss */
.header .search-cont .search-box {
  height: 30px;
  top: 7px;
  position: absolute;
  left: 105px;
  right: 50px;
  z-index: 0;
}
/* line 78, ../scss/_header.scss */
.header .search-cont .search-box input.text {
  background: #eeeeee url(../images/header/icon_search-input.png) 5px center no-repeat;
  background-size: 13px 12px;
  border-radius: 5px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  border: none;
  padding-left: 23px;
  padding-right: 15px;
  box-sizing: border-box;
}
/* line 92, ../scss/_header.scss */
.header .search-cont .search-btn {
  width: 50px;
  text-align: center;
  position: absolute;
  z-index: 0;
  right: 0;
  top: 0;
  height: 45px;
  line-height: 45px;
  display: block;
  color: #c7a164;
  font-size: 14px;
}

/* line 108, ../scss/_header.scss */
.menu-cont {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: -100%;
}
/* line 118, ../scss/_header.scss */
.menu-cont .mlist-cont {
  height: 100%;
  position: relative;
  z-index: 0;
}
/* line 122, ../scss/_header.scss */
.menu-cont .mlist-cont .mlist {
  position: absolute;
  z-index: 1;
  top: 45px;
  bottom: 0px;
  left: 0;
  width: 100%;
  background: #fff;
  overflow: hidden;
}
/* line 131, ../scss/_header.scss */
.menu-cont .mlist-cont .mlist ul.nav-list {
  padding: 0 10px;
}
/* line 133, ../scss/_header.scss */
.menu-cont .mlist-cont .mlist ul.nav-list li {
  position: relative;
  z-index: 0;
  height: 44px;
  line-height: 44px;
  font-size: 14px;
}
/* line 139, ../scss/_header.scss */
.menu-cont .mlist-cont .mlist ul.nav-list li a {
  color: #4e4a59;
  display: block;
  margin-right: 20px;
}
/* line 144, ../scss/_header.scss */
.menu-cont .mlist-cont .mlist ul.nav-list li a.more {
  width: 20px;
  height: 44px;
  position: absolute;
  right: 5px;
  top: 0;
  background: url(../images/header/nav_more.png) center no-repeat;
  background-size: 12px 7px;
  margin: 0;
  text-indent: -9999px;
}
/* line 155, ../scss/_header.scss */
.menu-cont .mlist-cont .mlist ul.nav-list li a.more.on {
  background: url(../images/header/nav_more.png) center no-repeat;
  background-size: 12px 7px;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 160, ../scss/_header.scss */
.menu-cont .mlist-cont .mlist ul.nav-list li span {
  padding-left: 24px;
  float: left;
  width: 241px;
}
/* line 165, ../scss/_header.scss */
.menu-cont .mlist-cont .mlist ul.nav-list li span.index {
  background: url(../images/header/nav_index.png) left center no-repeat;
  background-size: 15px 15px;
}
/* line 169, ../scss/_header.scss */
.menu-cont .mlist-cont .mlist ul.nav-list li span.hotshop {
  background: url(../images/header/nav_hotshop.png) left center no-repeat;
  background-size: 15px 15px;
}
/* line 173, ../scss/_header.scss */
.menu-cont .mlist-cont .mlist ul.nav-list li span.jchd {
  background: url(../images/header/nav_jchd.png) left center no-repeat;
  background-size: 15px 15px;
}
/* line 177, ../scss/_header.scss */
.menu-cont .mlist-cont .mlist ul.nav-list li span.share {
  background: url(../images/header/nav_share.png) left center no-repeat;
  background-size: 15px 15px;
}
/* line 181, ../scss/_header.scss */
.menu-cont .mlist-cont .mlist ul.nav-list li span.my {
  background: url(../images/header/nav_my.png) left center no-repeat;
  background-size: 15px 15px;
}
/* line 185, ../scss/_header.scss */
.menu-cont .mlist-cont .mlist ul.nav-list li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #edcfa0;
  -moz-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
/* line 195, ../scss/_header.scss */
.menu-cont .mlist-cont .mlist ul.nav-list li.list-my, .menu-cont .mlist-cont .mlist ul.nav-list li.list-shop {
  height: auto;
}
/* line 197, ../scss/_header.scss */
.menu-cont .mlist-cont .mlist ul.nav-list li.list-my .toolbar, .menu-cont .mlist-cont .mlist ul.nav-list li.list-shop .toolbar {
  height: 44px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
/* line 203, ../scss/_header.scss */
.menu-cont .mlist-cont .mlist ul.nav-list li.list-my ul.mylist, .menu-cont .mlist-cont .mlist ul.nav-list li.list-my ul.shop-list, .menu-cont .mlist-cont .mlist ul.nav-list li.list-shop ul.mylist, .menu-cont .mlist-cont .mlist ul.nav-list li.list-shop ul.shop-list {
  display: none;
  overflow: hidden;
  margin-top: -10px;
}
/* line 208, ../scss/_header.scss */
.menu-cont .mlist-cont .mlist ul.nav-list li.list-my ul.mylist li, .menu-cont .mlist-cont .mlist ul.nav-list li.list-my ul.shop-list li, .menu-cont .mlist-cont .mlist ul.nav-list li.list-shop ul.mylist li, .menu-cont .mlist-cont .mlist ul.nav-list li.list-shop ul.shop-list li {
  height: 40px;
  line-height: 40px;
}
/* line 211, ../scss/_header.scss */
.menu-cont .mlist-cont .mlist ul.nav-list li.list-my ul.mylist li a, .menu-cont .mlist-cont .mlist ul.nav-list li.list-my ul.shop-list li a, .menu-cont .mlist-cont .mlist ul.nav-list li.list-shop ul.mylist li a, .menu-cont .mlist-cont .mlist ul.nav-list li.list-shop ul.shop-list li a {
  display: block;
  color: #8f8d96;
  margin: 0;
  text-indent: 50px;
  font-size: 12px;
}
/* line 218, ../scss/_header.scss */
.menu-cont .mlist-cont .mlist ul.nav-list li.list-my ul.mylist li:after, .menu-cont .mlist-cont .mlist ul.nav-list li.list-my ul.shop-list li:after, .menu-cont .mlist-cont .mlist ul.nav-list li.list-shop ul.mylist li:after, .menu-cont .mlist-cont .mlist ul.nav-list li.list-shop ul.shop-list li:after {
  border-bottom: none;
}
/* line 225, ../scss/_header.scss */
.menu-cont .mlist-cont .mlist ul.nav-list li.last:after {
  border-bottom: none;
}
/* line 228, ../scss/_header.scss */
.menu-cont .mlist-cont .mlist ul.nav-list li.last a.login {
  background: #c7a164;
  display: block;
  margin: 19px 20px 0;
  color: #fff;
  height: 25px;
  line-height: 25px;
  border-radius: 25px;
  text-align: center;
  font-size: 12px;
}
/* line 243, ../scss/_header.scss */
.menu-cont a.nav_close {
  width: 35px;
  height: 100%;
  position: absolute;
  top: 45px;
  right: 0;
  background: url(../images/header/nav_close.png) center 10px no-repeat;
  background-size: 25px;
  text-indent: -9999px;
  display: block;
}

/* line 256, ../scss/_header.scss */
.tlBg {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 102;
  left: 0;
  top: 0;
  display: none;
}

/* line 266, ../scss/_header.scss */
.tlCont {
  width: 100%;
  height: 100%;
  background: #fff;
}
/* line 270, ../scss/_header.scss */
.tlCont .close {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 10px;
  top: 10px;
  background: url(../images/icon_close.png) no-repeat;
  background-size: 25px;
  text-indent: -9999px;
  display: block;
}
/* line 281, ../scss/_header.scss */
.tlCont .bd {
  margin: 0 35px;
}
/* line 283, ../scss/_header.scss */
.tlCont .bd h4 {
  font-size: 16px;
  color: #c7a164;
  line-height: 55px;
  text-align: center;
  height: 55px;
  position: relative;
  z-index: 0;
}
/* line 291, ../scss/_header.scss */
.tlCont .bd h4:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid #c7a164;
  -moz-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
/* line 301, ../scss/_header.scss */
.tlCont .bd .icont {
  height: 50px;
  line-height: 50px;
  position: relative;
  z-index: 0;
}
/* line 306, ../scss/_header.scss */
.tlCont .bd .icont a.getcode {
  background: #e4e4e4;
  color: #c7a164;
  font-size: 14px;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  border-radius: 3px;
  position: absolute;
  right: 0;
  top: 50%;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
/* line 319, ../scss/_header.scss */
.tlCont .bd .icont .ibox {
  margin: 0 80px 0 0;
}
/* line 322, ../scss/_header.scss */
.tlCont .bd .icont input.user {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  width: 100%;
  border: none;
  background: url(../images/icon_user.png) left center no-repeat;
  background-size: 15px;
  text-indent: 20px;
}
/* line 333, ../scss/_header.scss */
.tlCont .bd .icont input.phone {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  width: 100%;
  border: none;
  background: url(../images/icon_phone.png) left center no-repeat;
  background-size: 15px;
  text-indent: 20px;
}
/* line 344, ../scss/_header.scss */
.tlCont .bd .icont input.pw {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #999999;
  width: 100%;
  border: none;
  background: url(../images/icon_pw.png) left center no-repeat;
  background-size: 15px;
  text-indent: 20px;
}
/* line 355, ../scss/_header.scss */
.tlCont .bd .icont input.mima {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  width: 100%;
  border: none;
  background: url(../images/icon_mima.png) left center no-repeat;
  background-size: 15px;
  text-indent: 20px;
}
/* line 366, ../scss/_header.scss */
.tlCont .bd .icont:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid #c7a164;
  -moz-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
/* line 376, ../scss/_header.scss */
.tlCont .bd a.btn_01, .tlCont .bd a.btn_03 {
  margin: 20px 20px 0;
  background: #c7a164;
  color: #fff;
  height: 35px;
  line-height: 35px;
  font-size: 12px;
  text-align: center;
  display: block;
  border-radius: 35px;
}
/* line 387, ../scss/_header.scss */
.tlCont .bd a.btn_03 {
  margin: 0 20px;
}
/* line 390, ../scss/_header.scss */
.tlCont .bd a.btn_04 {
  margin: 20px 60px 0;
  background: #c7a164;
  color: #fff;
  font-size: 12px;
  text-align: center;
  display: block;
  border-radius: 35px;
  height: 30px;
  line-height: 30px;
  position: relative;
}
/* line 401, ../scss/_header.scss */
.tlCont .bd a.btn_04:after {
  content: '';
  position: absolute;
  right: 10px;
  top: 0px;
  height: 30px;
  width: 20px;
  background: url(../images/icon_more.png) center no-repeat;
  background-size: 5px 8px;
}
/* line 412, ../scss/_header.scss */
.tlCont .bd a.btn_02 {
  margin: 20px 20px 0;
  color: #c7a164;
  height: 33px;
  line-height: 33px;
  font-size: 12px;
  text-align: center;
  display: block;
  border-radius: 35px;
  border: 1px solid #c7a164;
}
/* line 423, ../scss/_header.scss */
.tlCont .bd .uInfo {
  height: 45px;
  line-height: 45px;
  overflow: hidden;
  margin: 0 30px;
}
/* line 428, ../scss/_header.scss */
.tlCont .bd .uInfo a.rmme {
  background: url(../images/icon_chk_02.png) left center no-repeat;
  background-size: 11px;
  text-indent: 15px;
  float: left;
  font-size: 12px;
  color: #4e4a59;
}
/* line 436, ../scss/_header.scss */
.tlCont .bd .uInfo a.rmme.on {
  background: url(../images/icon_chk_01.png) left center no-repeat;
  background-size: 11px;
}
/* line 440, ../scss/_header.scss */
.tlCont .bd .uInfo a.wjpw {
  font-size: 12px;
  float: right;
  color: #c7a164;
}
/* line 446, ../scss/_header.scss */
.tlCont .bd .uXieyi {
  padding: 10px 0;
  overflow: hidden;
}
/* line 449, ../scss/_header.scss */
.tlCont .bd .uXieyi .rmme {
  background: url(../images/icon_chk_02.png) left 2px no-repeat;
  background-size: 11px;
  text-indent: 15px;
  float: left;
  font-size: 12px;
  color: #4e4a59;
  line-height: 1.3;
}
/* line 457, ../scss/_header.scss */
.tlCont .bd .uXieyi .rmme a {
  color: #4e4a59;
}
/* line 461, ../scss/_header.scss */
.tlCont .bd .uXieyi .rmme.on {
  background: url(../images/icon_chk_01.png) left 2px no-repeat;
  background-size: 11px;
}
/* line 466, ../scss/_header.scss */
.tlCont .bd .title {
  font-size: 14px;
  color: #999999;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: relative;
  z-index: 0;
}
/* line 474, ../scss/_header.scss */
.tlCont .bd .title span {
  position: relative;
  background: #fff;
  padding: 0 10px;
  z-index: 1;
}
/* line 480, ../scss/_header.scss */
.tlCont .bd .title:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50%;
  z-index: 0;
  border-bottom: 1px solid #efefef;
  -moz-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
/* line 491, ../scss/_header.scss */
.tlCont .bd .shareLink {
  text-align: center;
}
/* line 493, ../scss/_header.scss */
.tlCont .bd .shareLink a {
  width: 35px;
  height: 35px;
  background: url(../images/icon_share.png) no-repeat;
  background-size: 149px 35px;
  display: inline-block;
  text-indent: -9999px;
  margin: 0 10px;
}
/* line 502, ../scss/_header.scss */
.tlCont .bd .shareLink a.qq {
  background-position: 0 0;
}
/* line 505, ../scss/_header.scss */
.tlCont .bd .shareLink a.weibo {
  background-position: -57px 0;
}
/* line 508, ../scss/_header.scss */
.tlCont .bd .shareLink a.weixin {
  background-position: -114px 0;
}
/* line 512, ../scss/_header.scss */
.tlCont .bd p.tipstxt {
  font-size: 12px;
  color: #999999;
  height: 35px;
  line-height: 35px;
  text-align: center;
}
/* line 519, ../scss/_header.scss */
.tlCont .bd p.tipstxt_2 {
  font-size: 12px;
  color: #999999;
  margin-top: 5px;
  text-align: center;
}
/* line 527, ../scss/_header.scss */
.tlCont .ui-register .icont {
  height: 45px;
  line-height: 45px;
}

/* line 6, ../scss/privacy.scss */
.privacy {
  padding: 10px;
  color: #333;
}
