/**
 * 
 * @authors wawow_haha@live.com
 * @date      2015/9/30 13:01
 */

@import "reset";
@import "compass";

@import "header";
@import "footer";

.bl-title{
    height: 37px;
    line-height: 37px;
    padding: 0 5px;
    h2{
        background: url(../images/icon_file.png) 5px center no-repeat;
        background-size: 12px 15px;
        font-size: 14px;
        color: #8f8d96;
        text-indent: 25px;
    }
}
.bl-address{
    background: #fff;
    .title{
        height: 33px;
        line-height: 33px;
        position: relative;
        z-index: 0;
        font-size: 14px;
        color: #4e4a59;
        text-indent: 10px;
        &:after{
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            border-bottom: 1px solid #e9e9e9;
            @include transform(scaleY(.5));
        }
    }
    .bd{
        padding: 15px;
        a.newAr{
            height: 20px;
            line-height: 20px;
            border-radius: 20px;
            background: #d1d1d1;
            font-size: 12px;
            color: #fff;
            display: block;
            width: 100px;
            text-align: center;
            span{
                background: url(../images/icon_add.png) left center no-repeat;
                background-size: 9px;
                padding-left: 14px;
            }
        }
        .selcon{
            height: 32px;
            margin: 15px 0 10px;
            .selcont{
                border: 1px solid #c5c5c5;
                height: 30px;
                line-height: 30px;
                border-radius: 30px;
                width: 88px;
                float: left;
                position: relative;
                z-index: 0;
                text-align: center;
                .text{
                    font-size: 14px;
                    width: 80px;
                    height: 30px;
                    line-height: 30px;
                    margin: 0 auto;
                    overflow: hidden;
                    text-align: center;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    position: relative;
                    z-index: 0;
                    span{
                        position: absolute;
                        right: 0;
                        top: 0;
                        display: block;
                        text-align: center;
                        width: 66px;
                        background: url(../images/icon_sel.png) 65px center no-repeat;
                        background-size: 7px 5px;
                        padding-right: 12px;
                    }
                }
                select{
                    width: 100%;
                    height: 30px;
                    opacity: 0;
                    position: absolute;
                    z-index: 11;
                    left: 0;
                    top: 0;
                }
            }
            .selcont:nth-child(2){
                margin: 0 10px;
            }
        }
        .icon{
            margin: 5px 5px 0;
            position: relative;
            z-index: 0;
            height: 35px;
            line-height: 35px;
            input{
                background: none;
                border: none;
                width: 100%;
                height: 35px;
                line-height: 35px;
                text-indent: 5px;
                color: #4e4a59;
            }
            &:after{
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                border-bottom: 1px solid #c9c9c9;
                @include transform(scaleY(.5));
            }
        }
        p.chkbox{
            background: url(../images/icon_chk_01.png) left center no-repeat;
            background-size: 11px;
            height: 36px;
            line-height: 36px;
            color: #8f8d96;
            margin: 0 5px;
            text-indent: 20px;
            font-size: 12px;
        }
    }
    .p_btns{
        height: 55px;
        line-height: 55px;
        background: #eeeeee;
        padding: 0 15px;
        text-align: right;
        a{
            height: 25px;
            line-height: 25px;
            border: 1px solid #c7a164;
            color: #c7a164;
            text-align: center;
            display: inline-block;
            border-radius: 25px;
            margin-left: 10px;
            padding: 0 15px;
            font-size: 14px;
        }
    }

    .ar-cont{
        overflow: hidden;
        margin-bottom: 10px;
        .arinfo{
            color: #8f8d96;
            position: relative;
            z-index: 0;
            padding: 15px 10px 15px 40px;
            p{
                line-height: 1.3;
                font-size: 12px;
            }
            &:before{
                content:"";
                position: absolute;
                top: 50%;
                width: 17px;
                height: 17px;
                @include transform(translate(0,-50%));
                left:15px;
                background: url(../images/icon_rad_01.png) no-repeat;
                background-size: 17px;
                display: block;
            }
            &:after{
                content:"";
                position: absolute;
                bottom:0;
                left:0;
                right:0;
                border-bottom: 1px solid #e9e9e9;
                @include transform(scaleY(.5));
            }
        }
        a.edit{
            background: #d1d1d1;
            height: 25px;
            line-height: 25px;
            border-radius: 25px;
            display: inline-block;
            margin: 15px 0 15px 15px;
            font-size: 12px;
            color: #fff;
            position: relative;
            padding: 0 10px 0 20px;
            &:after{
                content: '';
                background: url(../images/icon_add.png) left center no-repeat;
                background-size: 9px;
                position: absolute;
                left: 8px;
                top:0px;
                width: 8px;
                height: 25px;
            }
        }
    }
}

.cart-bd{
    background: #fff;
    margin-bottom: 10px;
    .shop{
        height: 33px;
        line-height: 33px;
        position: relative;
        z-index: 0;
        h3{
            font-size: 14px;
            text-indent: 15px;
        }
        &:after{
            content:"";
            position: absolute;
            bottom:0;
            left:0;
            right:0;
            border-bottom: 1px solid #e9e9e9;
            @include transform(scaleY(.5));
        }
    }
    ul.items{
        li{
            position: relative;
            z-index: 0;
            padding: 15px 0;
            height: 78px;
            margin:0 15px;
            .spic{
                width: 78px;
                height: 78px;
                float: left;
                img{
                    width: 78px;
                    height: 78px;
                    display: block;
                }
            }
            .info{
                margin-left: 88px;
                margin-right: 25px;
                h2{
                    font-size: 12px;
                    color: #4e4a59;
                    margin: 10px 0;
                }
                p.jiage{
                    line-height: 1;
                    margin: 5px 0;
                    span{
                        font-size: 14px;
                        color: #f15353;
                        margin-right: 10px;
                    }
                    em.jf{
                        font-size: 12px;
                        color: #e0b653;
                        background: url(../images/icon_jifen.png) 0 center no-repeat;
                        background-size: 12px;
                        text-indent: 15px;
                        display: inline-block;
                    }
                }
            }
            .num{
                position: absolute;
                right: 0;
                top: 50%;
                @include transform(translate(0,-50%));
                font-size: 14px;
                line-height: 1;
            }
            &:after{
                content:"";
                position: absolute;
                bottom:0;
                left:0;
                right:0;
                border-bottom: 1px dashed #e9e9e9;
                @include transform(scaleY(.5));
            }
        }
        li:last-child{
            &:after{
                border-bottom: none;
            }
        }
    }
    .extra{
        background: #f7f6f6;
        padding: 10px 15px;
        position: relative;
        z-index: 0;
        .ta-head{
            height: 25px;
            overflow: hidden;
        }
        .ta-container{
            textarea{
                width: 100%;
                text-align: left;
                box-sizing: border-box;
                border: 1px solid #d1d1d1;
                height: 30px;
                padding: 5px;
                font-size: 14px;
                color: #999999;
            }
        }
        p{
            font-size: 12px;
            color: #a9a7ae;
            float: left;
        }
        a.liuyan{
            height: 15px;
            line-height: 15px;
            border-radius: 15px;
            border: 1px solid #8f8d96;
            color: #8f8d96;
            text-align: center;
            width: 40px;
            font-size: 12px;
            display: block;
            float: right;
            position: relative;
            right: 15px;
            em{
                width: 7px;
                height: 13px;
                background: url(../images/icon_more_02.png) no-repeat;
                background-size: 7px 13px;
                position: absolute;
                right: -15px;
                top: 1px;
            }
        }
    }
}

.toolbar{
    .codem{
        padding:5px 15px 15px;
        text-align: right;
        .info{
            margin-bottom: 15px;
            img{
                height: 16px;
                width: 52px;
                vertical-align: middle;
                display: inline-block;
            }
            input.text{
                display: inline-block;
                height: 23px;
                line-height: 23px;
                border: 1px solid #d3d3d3;
                border-radius: 3px;
                background: #fff;
                width: 105px;
                padding: 0 5px;
                margin-left: 5px;
            }
        }

    }
    textarea.comment{
        width: 100%;
        text-align: left;
        box-sizing: border-box;
        border: 1px solid #d1d1d1;
        height: 55px;
        padding: 5px 20px;
        font-size: 14px;
        background:#fff url(../images/hot-shop/icon_input.png) 5px 7px no-repeat;
        background-size: 13px 12px;
        color: #999999;
    }
}

.checkout{
    height: 56px;
    background: #fdfdfd;
    border-top: 1px solid #e9e9e9;
    box-shadow: 0px 0px 3px #e9e9e9;
    .yunfei{
        width: 79px;
        height: 56px;
        line-height: 56px;
        color: #8f8d96;
        border-right: 1px solid #e9e9e9;
        float: left;
        text-align: center;
        font-size: 12px;
    }
    .allMoney{
        margin-left: 80px;
        position: relative;
        z-index: 0;
        padding-left: 15px;
        p.money{
            font-size: 14px;
            color: #4e4a59;
            line-height: 1;
            margin: 11px 0 3px;
            i{
                font-size: 18px;
                color: #f15353;
            }
        }
        p.tips{
            line-height: 1;
            font-size: 12px;
            color: #999999;
        }
        a.ok{
            width: 50px;
            height: 25px;
            line-height: 25px;
            border-radius: 25px;
            background: #c7a164;
            color: #fff;
            text-align: center;
            position: absolute;
            right: 20px;
            top: 50%;
            @include transform(translate(0,-50%));
            font-size: 12px;
        }
    }
}