/**
 * 
 * @authors wawow_haha@live.com
 * @date      2015/10/6 11:30
 */

@import "reset";
@import "compass";

@import "header";

.myinfo{
    height: 35px;
    line-height: 35px;
    position: relative;
    z-index: 0;
    color: #4e4a59;
    background: #fff;
    font-size: 14px;
    text-indent: 15px;
    i{
        color: #46ca52;
    }
    &:after{
        content: '';
        position: absolute;
        left: 0;
        right:0;
        bottom: 0;
        border-bottom: 1px solid #e9e9e9;
        @include transform(scaleY(.5));
    }
}
.sMenu{
    padding: 10px 15px;
    background: #fff;
    text-align: center;
    li{
        display: inline-block;
        border: 1px solid #bebebe;
        color: #bebebe;
        height: 23px;
        line-height: 23px;
        font-size: 12px;
        text-align: center;
        width: 83px;
        margin: 0 5px;
        border-radius: 5px;
    }
    li.on{
        border: 1px solid #46ca52;
        color: #46ca52;
    }
}
.sCont{
    .sTabCont{
        margin: 10px;
        background: #fff;
        .sTab{
            width: 100%;
            border-collapse: collapse;
            td,th{
                border: 1px solid #c9c9c9;
                padding: 0 3px;
            }
            th{
                color: #4e4a59;
                font-size: 12px;
                font-weight: normal;
                height: 30px;
            }
            td{
                text-align: center;
                color: #c9c9c9;
                height: 23px;
            }
            td.tl{
                text-align: left;
            }
        }
    }
}