/**
 * 
 * @authors wawow_haha@live.com
 * @date      2015/9/29 10:31
 */

@import "reset";
@import "compass";

@import "header";
@import "focus";
@import "shoplist";
@import "footer";

.maybe{
    overflow: hidden;
    background: #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
    .tit{
        padding: 0 10px;
        height: 33px;
        line-height: 33px;
        background: #fff;
        color: #4e4a59;
        position: relative;
        z-index: 0;
        a.more{
            border: 1px solid #8f8d96;
            color: #8f8d96;
            display: block;
            width: 90px;
            border-radius: 20px;
            height: 20px;
            line-height: 20px;
            position: absolute;
            right: 10px;
            background: #fff;
            top: 50%;
            @include transform(translate(0,-50%));
            font-size: 12px;
            text-align: center;
        }
    }
}