<div id="modSupplierWin" style="padding: 10px;">
    <div class="container-fluid">
        <form class="form-horizontal">
            <div class="row">
                <div class="form-group">
                    <label>审批状态：</label>
                    <select name="supplier_approve_status" class="lfx-select w-10">
                        <option value="0">未联系</option>
                        <option value="1">已联系，商务洽谈中</option>
                        <option value="2">已签订合约</option>
                        <option value="3">已上架</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>

